In [1]:
from db_utils import DataFrameInfo, DataTransform, DataFrameTransform, Plotter
import pandas as pd

In [3]:
df = pd.read_csv('transformed_loan_payments')
df.head()

,Unnamed: 0,id,loan_amount,term,int_rate,instalment,grade,sub_grade,employment_length,home_ownership,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,0,38676116,8000,36 months,7.49,248.82,A,A4,5 years,MORTGAGE,...,0.0,0.0,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.000000,1,INDIVIDUAL
1,1,38656203,13200,36 months,6.99,407.52,A,A3,9 years,RENT,...,0.0,0.0,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,42.253634,1,INDIVIDUAL
2,2,38656154,16000,36 months,7.49,497.63,A,A4,8 years,MORTGAGE,...,0.0,0.0,Oct-2021,12850.16,NaN,Oct-2021,0.0,42.253634,1,INDIVIDUAL
3,3,38656128,15000,36 months,14.31,514.93,C,C4,1 year,RENT,...,0.0,0.0,Jun-2021,13899.67,NaN,Jun-2021,0.0,42.253634,1,INDIVIDUAL
4,4,38656121,15000,36 months,6.03,456.54,A,A1,10+ years,MORTGAGE,...,0.0,0.0,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,42.253634,1,INDIVIDUAL

In [4]:
df.columns

Index(['Unnamed: 0', 'id', 'loan_amount', 'term', 'int_rate', 'instalment',
       'grade', 'sub_grade', 'employment_length', 'home_ownership',
       'annual_inc', 'verification_status', 'issue_date', 'loan_status',
       'payment_plan', 'purpose', 'dti', 'delinq_2yrs', 'earliest_credit_line',
       'inq_last_6mths', 'mths_since_last_delinq', 'mths_since_last_record',
       'open_accounts', 'total_accounts', 'out_prncp', 'total_payment',
       'total_rec_int', 'total_rec_late_fee', 'recoveries',
       'collection_recovery_fee', 'last_payment_date', 'last_payment_amount',
       'next_payment_date', 'last_credit_pull_date',
       'collections_12_mths_ex_med', 'mths_since_last_major_derog',
       'policy_code', 'application_type'],
      dtype='object')